.headerContainer {
  color: #62646a;
  box-sizing: border-box;
  max-width: 1400px;
  margin: auto;
  padding: 32px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  height: 80px;
  gap: 50px;
}

.headerWrapper {
  position: sticky;
  width: 100%;
  position: fixed;
  z-index: 9999;
  background-color: white;
}

@media (max-width: 361px) {
  .headerContainer {
    padding: 15px;
    gap: 50px;
  }

  .headerWrapper {
    border-bottom: #62646a;
    border-bottom-width: 0.5px;
    border-bottom-style: solid;
  }
}


